@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
.margin-right {
  margin-right: -81rem; }

body {
  font-family: "Quicksand";
  outline: 2rem solid white; }
  body .page {
    overflow-x: hidden;
    height: 120vh; }
    body .page .he {
      padding-top: 9rem;
      letter-spacing: 2rem;
      top: 0.5%;
      left: 40%; }
    body .page .llo {
      margin-top: -5rem;
      padding-bottom: 4rem;
      top: 59%;
      left: 40%; }
    body .page .he,
    body .page .llo {
      position: fixed;
      color: black;
      font-size: 10rem;
      font-weight: 900;
      transition: all 1s ease-in-out; }
  body .bg {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: -12rem;
    left: 0;
    background-color: #f85651;
    transition: all 1s ease-in-out; }
    body .bg .title {
      padding: 19rem 6rem 3rem;
      font-size: 2rem;
      color: white;
      opacity: 0;
      transition: all 1s ease-in-out;
      font-weight: bold; }
  body #pic {
    background-image: linear-gradient(to right, rgba(165, 66, 62, 0.4), rgba(248, 86, 81, 0.4)), url("../images/laptop.jpg");
    height: 100vh;
    background-size: cover; }
    body #pic .title {
      padding: 17rem 5rem 3rem;
      font-size: 2rem;
      color: white;
      font-weight: bold; }
  body #dev {
    overflow-x: hidden !important; }
    body #dev .title {
      font-size: 5rem;
      font-weight: 900;
      padding: 8rem 4rem 2rem;
      text-transform: uppercase;
      color: #f85651; }
      body #dev .title .loper {
        margin-top: -3rem;
        margin-left: 1rem; }
    body #dev .overview {
      font-size: 2rem;
      font-weight: bold;
      color: black;
      padding-left: 4rem;
      margin-top: -4rem; }
      body #dev .overview span {
        font-family: "Libre Baskerville", serif;
        font-weight: 900; }
    body #dev .sub {
      padding-left: 4rem;
      font-size: 1.4rem;
      margin-top: 5rem; }
    body #dev a.fer-link {
      text-decoration: underline;
      margin-left: 4rem;
      font-weight: bold;
      font-family: "Libre Baskerville", serif;
      display: inline-block;
      color: #f85651;
      transition: all 0.5s;
      cursor: pointer; }
      body #dev a.fer-link:hover {
        color: black;
        text-decoration: wavy;
        transform: scale(1.1);
        box-shadow: 0 -10px 0 0 #f85651 inset; }
    body #dev .fervor img {
      box-shadow: -2px -3px 15px #f85651;
      transition: all 0.5s; }
    body #dev .fervor:hover img {
      transform: scale(0.9);
      filter: blur(2px) brightness(80%); }
    body #dev .fervor:hover .overlay {
      opacity: 1;
      right: 0;
      left: 0; }
    body #dev .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 1rem;
      right: 1rem;
      opacity: 0;
      background-image: linear-gradient(to right, rgba(248, 86, 81, 0.3), rgba(248, 86, 81, 0.4));
      transition: all 0.5s; }
      body #dev .overlay .title {
        font-size: 1.3rem;
        text-align: center;
        color: white; }
    body #dev .my-slider .slider-title {
      margin: 8rem auto 3rem;
      font-size: 2rem;
      font-weight: bold;
      color: #414a6b; }
    body #dev .my-slider .owl-carousel {
      position: relative; }
      body #dev .my-slider .owl-carousel .owl-nav .owl-next,
      body #dev .my-slider .owl-carousel .owl-nav .owl-prev {
        padding: 4rem 2rem !important;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 3rem;
        transition: all 0.5s; }
        body #dev .my-slider .owl-carousel .owl-nav .owl-next:hover,
        body #dev .my-slider .owl-carousel .owl-nav .owl-prev:hover {
          background-color: white; }
      body #dev .my-slider .owl-carousel .owl-nav .owl-prev {
        position: absolute;
        top: 50%;
        left: 8%; }
      body #dev .my-slider .owl-carousel .owl-nav .owl-next {
        position: absolute;
        top: 50%;
        right: 8%; }
      body #dev .my-slider .owl-carousel a {
        margin: 0 auto -8rem; }
      body #dev .my-slider .owl-carousel .slider-1, body #dev .my-slider .owl-carousel .slider-2, body #dev .my-slider .owl-carousel .slider-3, body #dev .my-slider .owl-carousel .slider-4, body #dev .my-slider .owl-carousel .slider-5, body #dev .my-slider .owl-carousel .slider-6, body #dev .my-slider .owl-carousel .slider-7, body #dev .my-slider .owl-carousel .slider-8, body #dev .my-slider .owl-carousel .slider-9, body #dev .my-slider .owl-carousel .slider-10 {
        height: 35rem;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 4rem; }
        body #dev .my-slider .owl-carousel .slider-1 a, body #dev .my-slider .owl-carousel .slider-2 a, body #dev .my-slider .owl-carousel .slider-3 a, body #dev .my-slider .owl-carousel .slider-4 a, body #dev .my-slider .owl-carousel .slider-5 a, body #dev .my-slider .owl-carousel .slider-6 a, body #dev .my-slider .owl-carousel .slider-7 a, body #dev .my-slider .owl-carousel .slider-8 a, body #dev .my-slider .owl-carousel .slider-9 a, body #dev .my-slider .owl-carousel .slider-10 a {
          text-decoration: underline;
          margin-left: 4rem;
          font-weight: bold;
          font-family: "Libre Baskerville", serif;
          display: inline-block;
          color: #f85651;
          transition: all 0.5s;
          cursor: pointer;
          font-size: 2rem;
          padding-top: 10rem; }
          body #dev .my-slider .owl-carousel .slider-1 a:hover, body #dev .my-slider .owl-carousel .slider-2 a:hover, body #dev .my-slider .owl-carousel .slider-3 a:hover, body #dev .my-slider .owl-carousel .slider-4 a:hover, body #dev .my-slider .owl-carousel .slider-5 a:hover, body #dev .my-slider .owl-carousel .slider-6 a:hover, body #dev .my-slider .owl-carousel .slider-7 a:hover, body #dev .my-slider .owl-carousel .slider-8 a:hover, body #dev .my-slider .owl-carousel .slider-9 a:hover, body #dev .my-slider .owl-carousel .slider-10 a:hover {
            color: black;
            text-decoration: wavy;
            transform: scale(1.1);
            box-shadow: 0 -10px 0 0 #f85651 inset; }
        body #dev .my-slider .owl-carousel .slider-1 .cap-1, body #dev .my-slider .owl-carousel .slider-2 .cap-1, body #dev .my-slider .owl-carousel .slider-3 .cap-1, body #dev .my-slider .owl-carousel .slider-4 .cap-1, body #dev .my-slider .owl-carousel .slider-5 .cap-1, body #dev .my-slider .owl-carousel .slider-6 .cap-1, body #dev .my-slider .owl-carousel .slider-7 .cap-1, body #dev .my-slider .owl-carousel .slider-8 .cap-1, body #dev .my-slider .owl-carousel .slider-9 .cap-1, body #dev .my-slider .owl-carousel .slider-10 .cap-1 {
          padding-top: 10rem;
          font-size: 2.2rem;
          color: white; }
        body #dev .my-slider .owl-carousel .slider-1 .caro-title, body #dev .my-slider .owl-carousel .slider-2 .caro-title, body #dev .my-slider .owl-carousel .slider-3 .caro-title, body #dev .my-slider .owl-carousel .slider-4 .caro-title, body #dev .my-slider .owl-carousel .slider-5 .caro-title, body #dev .my-slider .owl-carousel .slider-6 .caro-title, body #dev .my-slider .owl-carousel .slider-7 .caro-title, body #dev .my-slider .owl-carousel .slider-8 .caro-title, body #dev .my-slider .owl-carousel .slider-9 .caro-title, body #dev .my-slider .owl-carousel .slider-10 .caro-title {
          font-size: 5rem;
          font-weight: bold;
          color: white; }
        body #dev .my-slider .owl-carousel .slider-1 .text-white, body #dev .my-slider .owl-carousel .slider-2 .text-white, body #dev .my-slider .owl-carousel .slider-3 .text-white, body #dev .my-slider .owl-carousel .slider-4 .text-white, body #dev .my-slider .owl-carousel .slider-5 .text-white, body #dev .my-slider .owl-carousel .slider-6 .text-white, body #dev .my-slider .owl-carousel .slider-7 .text-white, body #dev .my-slider .owl-carousel .slider-8 .text-white, body #dev .my-slider .owl-carousel .slider-9 .text-white, body #dev .my-slider .owl-carousel .slider-10 .text-white {
          font-size: 1.2rem; }
      body #dev .my-slider .owl-carousel .slider-1 {
        background-image: url("../images/theme-2-1.png"); }
      body #dev .my-slider .owl-carousel .slider-2 {
        background-image: url("../images/theme-2-2.png"); }
      body #dev .my-slider .owl-carousel .slider-3 {
        background-image: url("../images/theme-3-1.png"); }
      body #dev .my-slider .owl-carousel .slider-4 {
        background-image: url("../images/theme-3-2.png"); }
      body #dev .my-slider .owl-carousel .slider-5 {
        background-image: url("../images/theme-5-2.png"); }
      body #dev .my-slider .owl-carousel .slider-6 {
        background-image: url("../images/theme-5-1.png"); }
      body #dev .my-slider .owl-carousel .slider-7 {
        background-image: url("../images/theme-2-3.png"); }
      body #dev .my-slider .owl-carousel .slider-8 {
        background-image: url("../images/theme-2-4.png"); }
      body #dev .my-slider .owl-carousel .slider-9 {
        background-image: url("../images/theme-3-3.png"); }
      body #dev .my-slider .owl-carousel .slider-10 {
        background-image: url("../images/theme-7-3.png"); }
    body #dev .roaytech {
      padding-top: 12rem; }
      body #dev .roaytech .roay-title .roay-main {
        font-size: 2rem;
        font-weight: bold; }
      body #dev .roaytech .roay-title .roay-sub {
        font-size: 1.5rem;
        margin-top: 4rem; }
      body #dev .roaytech .roay-title a.roay-link {
        text-decoration: underline;
        margin-left: 4rem;
        font-weight: bold;
        font-family: "Libre Baskerville", serif;
        display: inline-block;
        color: #f85651;
        transition: all 0.5s;
        cursor: pointer;
        margin-left: 0rem; }
        body #dev .roaytech .roay-title a.roay-link:hover {
          color: black;
          text-decoration: wavy;
          transform: scale(1.1);
          box-shadow: 0 -10px 0 0 #f85651 inset; }
      body #dev .roaytech .roay-site img {
        box-shadow: -2px -3px 15px #f85651;
        transition: all 0.5s; }
      body #dev .roaytech .roay-site:hover img {
        transform: scale(0.9);
        filter: blur(3px) brightness(80%); }
      body #dev .roaytech .roay-site:hover .overlay-roay {
        opacity: 1;
        right: 0;
        left: 0; }
      body #dev .roaytech .overlay-roay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 1rem;
        right: 1rem;
        opacity: 0;
        background-image: linear-gradient(to right, rgba(248, 86, 81, 0.3), rgba(248, 86, 81, 0.4));
        transition: all 0.5s; }
        body #dev .roaytech .overlay-roay .title {
          font-size: 1.3rem;
          text-align: center;
          color: white; }
    body #dev .ideas {
      margin-top: 7rem; }
      body #dev .ideas .idea-title {
        font-size: 7rem;
        color: #414a6b;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0rem 7rem -7rem; }
      body #dev .ideas .eas {
        margin-top: -6rem; }
    body #dev .ideas-bg {
      background-image: linear-gradient(to right, rgba(248, 86, 81, 0.3), rgba(248, 86, 81, 0.4)), url("../images/phone-lap.jpg");
      background-size: cover;
      height: 20rem;
      background-attachment: fixed; }
      body #dev .ideas-bg p {
        margin: auto;
        color: white;
        font-size: 1.8rem;
        font-weight: bold; }
  body #about-me {
    padding-top: 8rem; }
    body #about-me .main {
      font-size: 2rem; }
      body #about-me .main span {
        font-family: "Libre Baskerville", serif;
        font-weight: 900; }
    body #about-me .skills {
      font-family: "Libre Baskerville", serif;
      font-weight: 900;
      font-size: 1.2rem; }
    body #about-me ul li {
      font-size: 0.9rem;
      font-weight: 900;
      cursor: pointer;
      transition: all 0.5s ease-out; }
      body #about-me ul li:hover {
        background-color: rgba(65, 74, 107, 0.4); }
    body #about-me .cv .cv-link {
      text-decoration: underline;
      margin-left: 4rem;
      font-weight: bold;
      font-family: "Libre Baskerville", serif;
      display: inline-block;
      color: #f85651;
      transition: all 0.5s;
      cursor: pointer; }
      body #about-me .cv .cv-link:hover {
        color: black;
        text-decoration: wavy;
        transform: scale(1.1);
        box-shadow: 0 -10px 0 0 #f85651 inset; }
  body footer .row {
    margin-top: 8rem; }
  body footer .repo-title {
    font-size: 0.9rem;
    color: #414a6b;
    font-weight: bold; }
  body footer .repo-link {
    text-decoration: underline;
    margin-left: 4rem;
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
    display: inline-block;
    color: #f85651;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 0; }
    body footer .repo-link:hover {
      color: black;
      text-decoration: wavy;
      transform: scale(1.1);
      box-shadow: 0 -10px 0 0 #f85651 inset; }
  body footer .contact-info .contact-title {
    font-size: 0.9rem;
    color: #414a6b;
    font-weight: bold; }
  body footer .contact-info .phone a,
  body footer .contact-info .email a {
    text-decoration: underline;
    margin-left: 4rem;
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
    display: inline-block;
    color: #f85651;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 0;
    font-size: 0.8rem; }
    body footer .contact-info .phone a:hover,
    body footer .contact-info .email a:hover {
      color: black;
      text-decoration: wavy;
      transform: scale(1.1);
      box-shadow: 0 -10px 0 0 #f85651 inset; }
  body footer .social .social-title {
    font-size: 0.9rem;
    color: #414a6b;
    font-weight: bold; }
  body footer .social .social-links svg {
    color: #f85651;
    margin-right: 2rem;
    font-size: 1.2rem;
    transition: all 0.5s; }
    body footer .social .social-links svg:hover {
      transform: rotateY(360deg); }

@media only screen and (max-width: 500px) {
  body {
    overflow-x: hidden !important; }
    body .page {
      overflow-x: hidden !important; }
      body .page .he,
      body .page .llo {
        font-size: 6rem; }
      body .page .he {
        left: 20% !important; }
      body .page .llo {
        left: 11% !important; }
    body #dev .title {
      font-size: 4rem;
      padding: 8rem 2rem 2rem; }
    body #dev .overview {
      margin-top: 3rem; }
    body #dev .roay-site img {
      margin-top: 3rem; }
    body #dev .ideas .idea-title {
      font-size: 6.5rem;
      margin: 0rem 2rem -8rem; }
    body #dev .my-slider .slider-1, body #dev .my-slider .slider-2, body #dev .my-slider .slider-3, body #dev .my-slider .slider-4, body #dev .my-slider .slider-5, body #dev .my-slider .slider-6, body #dev .my-slider .slider-7, body #dev .my-slider .slider-8, body #dev .my-slider .slider-9, body #dev .my-slider .slider-10 {
      height: 10rem !important; } }
